.form__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: 0.3s;
  align-self: flex-start;
  margin-left: 35px;
}

@media screen and (max-width: 425px) {
  .form__input-error {
    margin-left: 27px;
  }
}

@media screen and (max-width: 375px) {
  .form__input-error {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .form__input-error {
    margin-left: 20px;
  }
}
