.form__save_inactive {
  opacity: .2;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
  transition: opacity .15s linear;
}
