.form__save {
  width: 83.256%;
  min-height: 50px;
  margin-bottom: 36.5px;
  background-color: black;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  border: none;
  font-size: 1.125rem;
  line-height: 122.22%;
}

.form__save:hover {
  opacity: .8;
}

.form__save:focus {
  outline: none;
}

.form__save:active {
  opacity: 1;
  transition: 0s;
}
